<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Rendered by `maintenance.sh uv-prune-plist`; do not load this file as is. -->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>@LABEL@</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>@DIR@/maintenance.sh</string>
		<string>uv-prune</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>@HOME@</string>
		<key>SYSTEM_TOOLS_CONFIG</key>
		<string>@CONFIG@</string>
		<key>PATH</key>
		<string>@HOME@/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>UV_PRUNE_PAUSE</key>
		<string>@PAUSE@</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>ThrottleInterval</key>
	<integer>60</integer>
	<key>StandardErrorPath</key>
	<string>/tmp/@LABEL@.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/@LABEL@.out</string>
</dict>
</plist>
